In [2]:
--Total Exports by country
Select
    COUNT(LRNO) AS 'Exports'
    ,CAST([Prior Country Name] AS nvarchar(25)) AS 'Prior Country'
FROM 
    Calls
WHERE
    CAST([Prior Country Name] AS nvarchar(25)) <> 'NA'
GROUP BY
    CAST([Prior Country Name] AS nvarchar(25))
ORDER BY
    COUNT(LRNO) DESC

Exports,Prior Country
16213,Japan
8403,Korea (South)
8390,China
7603,United States of America
4841,Singapore
3492,Panama
3357,Australia
3352,Indonesia
2747,United Arab Emirates
2732,Egypt
1901,Brazil
1898,Turkey
1872,United Kingdom
1763,Saudi Arabia
1679,Belgium
1624,Netherlands
1359,Malaysia
1315,South Africa
1291,Germany
1059,Mexico
1025,Thailand
894,Hong Kong
879,Malta
876,Argentina
795,Kuwait
793,Spain
788,Canada
787,Nigeria
742,Greece
739,Colombia
733,Chile
622,Bahrain
587,India
545,New Zealand
540,Peru
537,Tanzania
504,Oman
490,Mozambique
486,Italy
395,Qatar
391,Sri Lanka
377,France
372,Angola
352,Uruguay
328,Kenya
326,Taiwan
318,Ghana
304,Ecuador
285,Trinidad & Tobago
246,Venezuela
244,Benin
240,Slovenia
238,Jamaica
224,Cote d'Ivoire
208,Iraq
203,Jordan
195,Aruba
191,Philippines
176,Dominican Republic
164,Libya
164,Algeria
160,Morocco
156,Bangladesh
154,Djibouti
144,Lebanon
140,Sweden
128,Russia
118,Senegal
110,Yemen
108,Vietnam
98,Brunei Darussalam
94,Guatemala
93,Namibia
92,Puerto Rico
77,Madagascar
76,Bahamas
75,Costa Rica
69,Guyana
69,Mauritius
63,Honduras
63,El Salvador
62,Congo (Republic)
61,Papua New Guinea
59,Iran
59,Cameroon
59,Myanmar
58,Togo
54,Nicaragua
48,Pakistan
47,Israel
46,Suriname
45,Martinique
44,Tunisia
43,Gabon
41,Sudan
41,Canary Islands
37,Fiji
37,Guadeloupe
36,Guam
35,Northern Mariana Islands
34,Reunion
31,Portugal
30,Romania
30,Denmark
29,New Caledonia
29,Barbados
27,Mauritania
26,Cyprus
20,French Guiana
19,Equatorial Guinea
19,Guinea
16,Antigua
15,Gibraltar
13,St Lucia
13,French Polynesia
12,Dominica
12,Sierra Leone
12,St Kitts & Nevis
11,Bermuda
11,Haiti
10,St Vincent
9,Cuba
2,Korea (North)
2,Ireland
1,Norway
1,Poland
1,Cambodia
1,Jersey
1,Croatia
1,Tuvalu
1,Ukraine
1,Cocos Islands
1,Finland

In [1]:
--Total Imports by country
Select
    COUNT(LRNO) AS 'Imports'
    ,CAST([Country Name] AS nvarchar(25)) AS 'Arrival Country'
FROM 
    Calls
WHERE
    CAST([Country Name] AS nvarchar(25)) <> 'NA'
GROUP BY
    CAST([Country Name] AS nvarchar(25))
ORDER BY
    COUNT(LRNO) DESC

Imports,Arrival Country
23827,Japan
13077,China
11909,Korea (South)
11816,United States of America
7235,Singapore
5628,Panama
5216,Australia
4717,Indonesia
4568,Egypt
4313,United Arab Emirates
3354,United Kingdom
3151,Brazil
2675,Saudi Arabia
2566,Turkey
2548,Belgium
2244,Netherlands
2145,Germany
2111,South Africa
1730,Mexico
1674,Malaysia
1555,Thailand
1548,Argentina
1469,Hong Kong
1390,Malta
1355,Canada
1170,Spain
1156,Nigeria
1153,Colombia
1141,Kuwait
1096,Chile
1034,Greece
995,Peru
890,Bahrain
853,Tanzania
797,New Zealand
796,Italy
783,India
765,Mozambique
658,Uruguay
647,Oman
617,Angola
615,Qatar
575,France
536,Taiwan
491,Kenya
482,Ghana
477,Sri Lanka
450,Trinidad & Tobago
412,Ecuador
363,Jamaica
362,Venezuela
355,Slovenia
345,Libya
344,Jordan
337,Cote d'Ivoire
313,Benin
293,Aruba
261,Dominican Republic
253,Algeria
247,Russia
244,Iraq
244,Sweden
237,Morocco
214,Philippines
207,Lebanon
199,Bangladesh
195,Djibouti
176,Puerto Rico
164,Namibia
162,Vietnam
151,Yemen
147,Guatemala
141,Senegal
130,Brunei Darussalam
120,Madagascar
114,Guyana
113,Bahamas
112,Costa Rica
95,Congo (Republic)
94,Honduras
94,Papua New Guinea
91,Myanmar
91,Cameroon
90,Mauritius
79,El Salvador
78,Martinique
77,Nicaragua
77,Suriname
75,Togo
74,Gabon
74,Iran
73,Israel
69,Sudan
63,Guam
60,Tunisia
59,Pakistan
56,Canary Islands
55,Guadeloupe
50,Portugal
48,Reunion
45,Fiji
43,Denmark
42,New Caledonia
39,Gibraltar
37,Guinea
36,Barbados
35,Northern Mariana Islands
35,Romania
31,Mauritania
30,French Guiana
28,Cyprus
27,Antigua
22,St Kitts & Nevis
21,St Lucia
19,French Polynesia
19,Equatorial Guinea
18,Bermuda
17,Dominica
16,St Vincent
15,Ukraine
14,Sierra Leone
13,Haiti
10,Cuba
4,Korea (North)
2,Ireland
2,Albania
1,Marshall Islands
1,Cocos Islands
1,Finland
1,Norway
1,Turkmenistan
1,Jersey
1,Croatia
1,Tuvalu
1,Poland
1,Kazakhstan
1,Eritrea
1,Cambodia

In [37]:
--Compare Average Travel Time to Operator
SELECT
    s.Operator
    ,ROUND(AVG(CAST(DATEDIFF(day, c.[Arrival Date], c.[Sail Date])AS float)), 2)AS 'Average Travel Time'
FROM
    Calls c
JOIN
    SHIPS s
ON
    s.LRNO = c.LRNO
GROUP BY
    s.Operator
ORDER BY
   [Average Travel Time] DESC

Operator,Average Travel Time
Priyanka Shipping Ltd,4.39
Natie Shipping Co Ltd,2.31
Mitra Anugrah Samudra,2.21
K Line Indonesia,1.63
Meiko Marine,1.21
Prayati Shipping Pvt Ltd,1.04
Abou Merhi Lines SAL,1.01
Shunzan Kaiun KK,0.96
Toyofuji Serasi Indonesia,0.84
Kyodogumi Kaiun,0.82
Siem Car Carriers AS,0.8
Yashi Maritima SA,0.77
Toyofuji Shipping Co Ltd,0.76
Nusantara Sejati,0.76
Pasha Group,0.73
JK Maritime Inc,0.68
Urizen Shipping Ltd,0.64
Salam Pacific Indonesia Lines,0.63
Kitaura Kaiun KK,0.63
Avanti Services Corp,0.63
CSC RoRo Logistics Co Ltd,0.63
Fairfield-Maxwell Services Ltd,0.63
NYK Line Indonesia,0.6
NYKCOS Car Carrier Co Ltd,0.6
Rptd Sold Undisclosed Interest,0.57
Doriko Ltd,0.56
COSCOL,0.56
Kawasaki Kisen Kaisha Ltd,0.56
Eastern Pacific Shipping Pte,0.54
UECC,0.54
Sunship Schiffahrtskontor KG,0.53
United Ocean Ship Mgmt Pte Ltd,0.52
Yokohama Marine & Merchant,0.52
CSAV,0.52
NYK Line,0.52
Mitsui OSK Lines Ltd,0.51
LCI Shipholdings Inc,0.51
Cido Car Carrier Service Co,0.5
Hoegh Autoliners AS,0.49
EUKOR Car Carriers Inc,0.49
Wallenius Wilhelmsen Logistics,0.49
Hyundai Glovis Co Ltd,0.48
Eastern Car Liner Ltd,0.48
China Shipping Car Carrier Inc,0.48
Laeisz Reederei,0.47
American Roll-on Roll-off,0.46
Zim Integrated Shipping,0.46
TB Marine-Hamburg GmbH,0.46
Gram & Co AS,0.44
Nissan Motor Car Carrier,0.44
Neptune Lines Shipping,0.43
Norwegian Car Carriers AS,0.42
Zodiac Maritime Ltd,0.42
Vroon BV,0.39
Laeisz F Schiffahrts mbH & Co,0.38
Hyuga Kaiun YK,0.37

In [40]:
--Compare Average Travel Time to Operator
SELECT
    s.Operator
    ,MAX(DATEDIFF(day, c.[Arrival Date], c.[Sail Date])) AS 'Max Travel Time'
FROM
    Calls c
JOIN
    SHIPS s
ON
    s.LRNO = c.LRNO
GROUP BY
    s.Operator
ORDER BY
   [Max Travel Time] DESC

Operator,Max Travel Time
EUKOR Car Carriers Inc,244
NYK Line,236
Shunzan Kaiun KK,228
Hoegh Autoliners AS,151
Prayati Shipping Pvt Ltd,146
Meiko Marine,133
CSC RoRo Logistics Co Ltd,117
Kawasaki Kisen Kaisha Ltd,105
Toyofuji Serasi Indonesia,101
Priyanka Shipping Ltd,69
Mitsui OSK Lines Ltd,45
JK Maritime Inc,29
UECC,26
Natie Shipping Co Ltd,25
Laeisz Reederei,24
Eastern Car Liner Ltd,24
K Line Indonesia,23
Doriko Ltd,22
Cido Car Carrier Service Co,22
COSCOL,22
CSAV,22
Mitra Anugrah Samudra,22
Neptune Lines Shipping,22
Nissan Motor Car Carrier,22
Siem Car Carriers AS,22
Eastern Pacific Shipping Pte,21
Hyundai Glovis Co Ltd,20
American Roll-on Roll-off,19
Toyofuji Shipping Co Ltd,19
Rptd Sold Undisclosed Interest,19
Avanti Services Corp,18
Kyodogumi Kaiun,18
Urizen Shipping Ltd,17
Wallenius Wilhelmsen Logistics,17
Yashi Maritima SA,16
TB Marine-Hamburg GmbH,16
Abou Merhi Lines SAL,16
Norwegian Car Carriers AS,15
NYK Line Indonesia,14
NYKCOS Car Carrier Co Ltd,13
Pasha Group,13
Hyuga Kaiun YK,13
China Shipping Car Carrier Inc,13
Kitaura Kaiun KK,12
Vroon BV,12
Sunship Schiffahrtskontor KG,12
Salam Pacific Indonesia Lines,10
Yokohama Marine & Merchant,10
LCI Shipholdings Inc,10
Fairfield-Maxwell Services Ltd,10
Gram & Co AS,10
Nusantara Sejati,8
United Ocean Ship Mgmt Pte Ltd,8
Laeisz F Schiffahrts mbH & Co,7
Zim Integrated Shipping,6
Zodiac Maritime Ltd,5

In [7]:
--Total Exports by country VIEW
CREATE VIEW Exports AS
Select
    COUNT(LRNO) AS 'Exports'
    ,CAST([Prior Country Name] AS nvarchar(25)) AS 'Prior Country'
FROM 
    Calls
GROUP BY
    CAST([Prior Country Name] AS nvarchar(25))
HAVING
    COUNT(LRNO) > 3500;

: Msg 2714, Level 16, State 3, Procedure Exports, Line 2
There is already an object named 'Exports' in the database.

In [9]:
--Show new view
Select *
FROM [Exports]

Exports,Prior Country
4841,Singapore
7603,United States of America
8390,China
8403,Korea (South)
16213,Japan
64719,NA

In [16]:
--Create Procedure
CREATE PROCEDURE ShowCityExports @PriorCountry nvarchar(30)
AS 
SELECT 
    COUNT(LRNO) AS 'Exports'
    ,CAST([Prior Country Name] AS nvarchar(30))
FROM
    Calls
WHERE
    CAST([Prior Country Name] AS nvarchar(30)) = @PriorCountry
GROUP BY
    CAST([Prior Country Name] AS nvarchar(30))

In [24]:
--Test Procedure
EXEC ShowCityExports @PriorCountry = 'China'

Exports,(No column name)
8390,China

In [23]:
--Create Function
CREATE FUNCTION udfImports (
    @imports INT
    )
RETURNS TABLE 
AS
RETURN
    SELECT
        COUNT(LRNO.Calls) AS 'Imports'
        ,CAST(CountryName.Calls)) AS nvarchar(30))
    FROM
        Calls
    WHERE
        COUNT(LRNO.Calls) > @imports
    GROUP BY
        CAST([Prior Country Name] AS nvarchar(30))

: Msg 1035, Level 15, State 10, Procedure udfImports, Line 10
Incorrect syntax near 'CAST', expected 'AS'.