## Numbers

In [3]:
type(balance)

float

In [1]:
balance = 100.10
print("Balance =", balance)
balance += 100.10
print("Balance =", balance)
balance += 100.10
print("Balance =", balance)
balance = round(balance, 2)
print("Balance =", balance)

Balance = 100.1
Balance = 200.2
Balance = 300.29999999999995
Balance = 300.3

In [4]:
import math as m
pw = 2.25
print("pow(balance, pow): ",m.pow(balance, pw))
print("sqrt(balance): ",m.sqrt(balance))
print("ceil(balance): ",m.ceil(balance))
print("floor(balance): ",m.floor(balance))

pow(balance, pow):  375404.52006520296
sqrt(balance):  17.329166165744965
ceil(balance):  301
floor(balance):  300

In [6]:
radius = 12
circumference = m.pi * radius * 2    # 75.39822368615503
area = m.pi * m.pow(radius, 2)       # 452.3893421169302
area = m.pi * radius**2              # 452.3893421169302

In [7]:
print(area,circumference)

452.3893421169302 75.39822368615503

In [10]:
print("area: {}, circumference: {}".format(area,circumference))
print("area: {}, circumference: {}".format(circumference,area))

area: 452.3893421169302, circumference: 75.39822368615503
area: 75.39822368615503, circumference: 452.3893421169302

In [11]:
print("area: {1}, circumference: {0}".format(circumference,area))

area: 452.3893421169302, circumference: 75.39822368615503

In [9]:
area

452.3893421169302

In [15]:
print("basic float {:.2f}".format(area))
print("more decimal float {:.4f}".format(area))
print("still more decimal float {:.6f}".format(area))
print("still more  fancy format {:15,.2f}".format(area))
print("percentage {:%}".format(round(area,4)))

basic float 452.39
more decimal float 452.3893
still more decimal float 452.389342
still more  fancy format          452.39
percentage 45238.930000%

In [18]:
arn = int(area)*100
print("integer basic {:d}".format(arn))
print("integer basic {:,d}".format(arn))
print("integer basic {:,d}".format(arn).replace(',','.'))

integer basic 45200
integer basic 45,200
integer basic 45.200

In [19]:
areabig = pow(area,circumference/10)
print("basic float {:.2e}".format(areabig))
print("more decimal float {:.4e}".format(areabig))
print("still more decimal float {:.6e}".format(areabig))

basic float 1.05e+20
more decimal float 1.0522e+20
still more decimal float 1.052184e+20

In [20]:
areabig

1.0521835996341941e+20

In [21]:
print("{:15} {:>10} {:>5}".format("Description", "Price", "Qty"))
print("{:15} {:10.2f} {:5d}".format("Hammer", 9.99, 3))
print("{:15} {:10.2f} {:5d}".format("Nails", 14.5, 10))

Description          Price   Qty
Hammer                9.99     3
Nails                14.50    10

In [22]:
import locale as lc

In [23]:
#May have to do for Mac
lc.setlocale(lc.LC_ALL,"en_US")

'en_US'

In [24]:
lc.setlocale(lc.LC_ALL,"us")

'English_United States.1252'

In [25]:
currency_val = area*circumference
print(lc.currency(currency_val))
print(lc.currency(currency_val,grouping=True))

$34109.35
$34,109.35

In [26]:
lc.setlocale(lc.LC_ALL,"en_UK")
currency_val = area*circumference
print(lc.currency(currency_val))
print(lc.currency(currency_val,grouping=True))
lc.setlocale(lc.LC_ALL,"us")

¤34109.35
¤34,109.35

'English_United States.1252'

In [27]:
print(lc.format_string("%d",currency_val,grouping=True))
print(lc.format_string("%2f",currency_val,grouping=True))

34,109
34,109.352810

In [9]:
foo = float(input("Enter order total: "))

ValueError: could not convert string to float:

In [30]:
def discount_fun(order_total):
    #float(input("Enter order total: "))
    print()               

    # determine discount percent
    if order_total > 0 and order_total < 100: 
        discount_percent = 0
    elif order_total >= 100 and order_total < 250:
        discount_percent = .1
    elif order_total >= 500:
        discount_percent = .2
    else :
        discount_percent = .15


    # calculate the results
    discount = round(order_total * discount_percent,2)
    #discount = order_total * discount_percent
    subtotal = order_total - discount
    sales_tax = round(subtotal * .05,2)
    #sales_tax = subtotal * .05
    invoice_total = subtotal + sales_tax

    # display the results
    print("Order total:     {:10,.2f}".format(order_total))
    print("Discount amount: {:10,.2f}".format(discount))
    print("Subtotal:        {:10,.2f}".format(subtotal))
    print("Sales tax:       {:10,.2f}".format(sales_tax))
    print("Invoice total:   {:10,.2f}".format(invoice_total))
    print()

In [35]:
discount_fun(50)

Order total:          50.00
Discount amount:       0.00
Subtotal:             50.00
Sales tax:             2.50
Invoice total:        52.50

In [36]:
from decimal import Decimal

In [39]:
currency_val

34109.35281016482

In [40]:
dec = Decimal(currency_val)
disc = Decimal(".1")
dsc = disc * dec
print(dsc)

3410.935281016481894766911864

In [41]:
dec = Decimal("34109.35")
disc = Decimal(".1")
dsc = disc * dec
print(dsc)

3410.935

In [43]:
print(dsc * 2)
print(dsc * Decimal(3.5))

6821.870
11938.2725

In [50]:
print(type(dsc))
print(dsc)
print(dsc.quantize(Decimal("3.20")))
#print("ROUND_CEILING: ",dsc.quantize(Decimal("3.20"),rounding=ROUND_CEILING))
#print("ROUND_FLOOR: ",dsc.quantize(Decimal("3.20"),rounding=ROUND_FLOOR))
print("none: ",dsc.quantize(Decimal("3.20"),rounding=None))
print("ROUND_DOWN: ",dsc.quantize(Decimal("3.20"),rounding=ROUND_DOWN))
print("ROUND_HALF_UP: ",dsc.quantize(Decimal("3.20"),rounding=ROUND_HALF_UP))
print("ROUND_HALF_DOWN: ",dsc.quantize(Decimal("3.20"),rounding=ROUND_HALF_DOWN))
print("ROUND_HALF_EVEN: ",dsc.quantize(Decimal("3.20"),rounding=ROUND_HALF_EVEN))
print("ROUND_05UP: ",dsc.quantize(Decimal("3.20"),rounding=ROUND_05UP))

<class 'decimal.Decimal'>
3410.935
3410.94
none:  3410.94

NameError: name 'ROUND_DOWN' is not defined

In [45]:
dsc.quantize?

Signature: dsc.quantize(exp, rounding=None, context=None)
Docstring:
Return a value equal to the first operand after rounding and having the
exponent of the second operand.

    >>> Decimal('1.41421356').quantize(Decimal('1.000'))
    Decimal('1.414')

Unlike other operations, if the length of the coefficient after the quantize
operation would be greater than precision, then an InvalidOperation is signaled.
This guarantees that, unless there is an error condition, the quantized exponent
is always equal to that of the right-hand operand.

Also unlike other operations, quantize never signals Underflow, even if the
result is subnormal and inexact.

If the exponent of the second operand is larger than that of the first, then
rounding may be necessary. In this case, the rounding mode is determined by the
rounding argument if given, else by the given context argument; if neither
argument is given, the rounding mode of the current thread's context is used.
Type:      builtin_function_or_method

In [ ]:
str.

## Strings

In [51]:
children = ['Andrew','Laura','Joseph']
child = children[0]
child

'Andrew'

In [52]:
child[5]

'w'

In [53]:
print(ord(child[5]))
print(ord(child[5].upper()))

119
87

In [54]:
#string len
print(len(child))
#list len
print(len(children))

6
3

In [55]:
print(child[:3])
print(child[2:4])
print(child[4:])
print(child[:-1])

And
dr
ew
Andre

In [56]:
print(child[4:] * len(child))

ewewewewewew

In [57]:
print('z' in child)
print('w' in child)

False
True

In [58]:
stmt = '      Country  koolaidy   '
print(stmt.isalpha())
print(stmt.islower())
print(stmt.isupper())
print(stmt.isdigit())
print(stmt.startswith('e'))
print(stmt.endswith('e'))
print(stmt.lower())
print(stmt.upper())
print(stmt.title())
print(stmt.lstrip())
print(stmt.rstrip())
print(stmt.strip())
print(stmt.ljust(20))
print(stmt.rjust(20))
print(stmt.center(20))

False
False
False
False
False
False
      country  koolaidy
      COUNTRY  KOOLAIDY
      Country  Koolaidy
Country  koolaidy
      Country  koolaidy
Country  koolaidy
      Country  koolaidy
      Country  koolaidy
      Country  koolaidy

In [59]:
print (stmt.find("k"))
print (stmt.find("o"))
#print (stmt.find("y"),9)

15
7

In [61]:
str_a = "string functions"
i = str_a.find(" ")
print(str_a[0:i])
print(str_a[i+1:len(str_a)])

string
functions

In [62]:
split_a = str_a.split()
type(split_a)

list

In [63]:
split_a

['string', 'functions']

In [64]:
split_a[2]

IndexError: list index out of range

In [65]:
print(children)

['Andrew', 'Laura', 'Joseph']

In [66]:
newsplit = "Andrew|Laura|Joseph".split("|")
newsplit[1]

'Laura'

In [67]:
join1 = ""
join1  += newsplit[0]
join1  += newsplit[1]
print(join1)

AndrewLaura

In [68]:
join1  = newsplit[0] + "" + newsplit[1]
print(join1)

AndrewLaura

In [69]:
children

['Andrew', 'Laura', 'Joseph']

In [70]:
"|".join(children)

'Andrew|Laura|Joseph'

In [71]:
tuple1 = ('Andrew', 'Laura', 'Joseph')
"|".join(list(tuple1))

'Andrew|Laura|Joseph'

In [72]:
child

'Andrew'

In [73]:
"!".join(child)

'A!n!d!r!e!w'

## Date and Time

In [74]:
from datetime import date,time,datetime

In [75]:
date.today()

datetime.date(2022, 2, 22)

In [76]:
datetime.now()

datetime.datetime(2022, 2, 22, 9, 48, 35, 631925)

In [77]:
bigdate = date(1319,2,13)

In [78]:
print(bigdate)

1319-02-13

In [7]:
from datetime import datetime
datetime.today().strftime("%Y%m%d%H%M%S")

'20220225162024'

In [80]:
cur_time = str(datetime.now())
#2021-05-15 10:07:37.810569
print(datetime.strptime("2021-05-15 10:07:37","%Y-%m-%d %H:%M:%S"))
print(datetime.strptime("05/15/21 100737","%m/%d/%y %H%M%S"))

2021-05-15 10:07:37
2021-05-15 10:07:37

In [82]:
print(datetime.strftime(datetime.now(),"%Y-%m-%d %H:%M:%S %f"))
print(datetime.strftime(datetime.now(),"%m/%d/%y %H%M%S"))
print(datetime.strftime(datetime.now(),"%a, %b %m/%d/%y %H%M%S"))
print(datetime.strftime(datetime.now(),"%A, %B %m/%d/%y %H%M%S"))
print(datetime.strftime(datetime.now(),"%I%M:%S%p %f"))

2022-02-22 09:51:50 291533
02/22/22 095150
Tue, Feb 02/22/22 095150
Tuesday, February 02/22/22 095150
0951:50AM 291533

In [84]:
print(datetime.strftime(datetime.now(),"%Y%m%d"))

20220222

In [83]:
#default for locale
print(datetime.strftime(datetime.now(),"%c"))
print(datetime.strftime(datetime.now(),"%x"))

2/22/2022 9:52:00 AM
2/22/2022

In [85]:
from datetime import timedelta

In [86]:
#timespan
wks_3 = timedelta(weeks=3)
day_1 = timedelta(days=1)
hour_4 = timedelta(hours=4)
micro_47=timedelta(microseconds=47)

In [87]:
type(wks_3)

datetime.timedelta

In [88]:
date.today()

datetime.date(2022, 2, 22)

In [89]:
#day2 =date.today()
day2 =datetime.now()
dtFuture = day2 +wks_3 + day_1 - hour_4
print(datetime.strftime(dtFuture,"%A, %B %m/%d/%y %H%M%S %f"))

Wednesday, March 03/16/22 055515 086013

In [90]:
print((wks_3 + day_1 - hour_4).total_seconds())
print((wks_3 + day_1 - hour_4 + micro_47).microseconds)
print(((wks_3 + day_1 - hour_4).total_seconds() * 1000) + (wks_3 + day_1 - hour_4 + micro_47).microseconds)

1886400.0
47
1886400047.0

In [91]:
day3 = date.today()
print("month: ",day3.month)
print("day: ",day3.day)
print("year: ",day3.year)

month:  2
day:  22
year:  2022

In [92]:
day4= datetime.now()
print("sec:",day4.second)
print("hour:",day4.hour)
print("minute:",day4.minute)
print("microsec:",day4.microsecond)

sec: 37
hour: 9
minute: 56
microsec: 628860

In [93]:
halloween = date(
    date.today().year
    ,10
    ,31
)

In [96]:
type(halloween)

datetime.date

In [95]:
type(halloween - day3)

datetime.timedelta

In [97]:
print("milliseconds to halloween: ",(halloween - day3).days * 24 *60 * 60 * 1000)

milliseconds to halloween:  21686400000

In [98]:
def add_numbers(upper):
    total = 0
    for num in range(upper + 1):
        total += num
        #print(total)
    return total

In [99]:
add_numbers(12)

78

In [107]:
def add_numbers(upper):
    if upper == 0:
        return upper
    else: 
        # print("upper: {}".format(upper - 1))
        return upper + add_numbers(upper - 1)

In [108]:
add_numbers(12)

78

In [109]:
def factorial_numbers(upper):
    if upper == 0:
        return 1
    else: 
        #print(upper + add_numbers(upper - 1))
        return upper * factorial_numbers(upper - 1)

In [110]:
factorial_numbers(13)

6227020800

In [113]:
def fib_numbers(upper):
    if upper == 0:
        return 0
    if upper == 1:
        return 1   
    else: 
        #print( fib_numbers(upper - 1) + fib_numbers(upper - 2))
        return fib_numbers(upper - 1) + fib_numbers(upper - 2)

In [114]:
for i in range(0,6):
    print(fib_numbers(i))

0
1
1
2
3
5

In [ ]:
range(13)

In [ ]:
"9".upper()

In [140]:
import random
words = [
    "aardvark",
    "air",
    "zipper",
    "zoo"
    ]

print(words[random.randint(0,len(words)-1)])

zoo

In [135]:
random.random()

0.3606135393600264

In [121]:
print(random)

<module 'random' from 'C:\\Users\\andre\\anaconda3\\envs\\dsiwd202201\\lib\\random.py'>

In [141]:
random.randint(0,4)

0

In [151]:
import BaseEmployee as be

In [152]:
 sravan = be.Customer(123,"Sravan","Ankaraju","Divergence","1054 Midway Dr","Addison","TX", "75201")

In [153]:
type(sravan)

BaseEmployee.Customer

In [154]:
sravan.getFullName()

'Sravan Ankaraju'

In [155]:
print(sravan.getFullAddress())

Sravan Ankaraju
Divergence
1054 Midway Dr
Addison, TX 75201

In [156]:
sravan.id

123