In [1]:
children =["Andrew","Laura","Joe"]
type(children)

list

In [ ]:
children.append("Thomas")

In [ ]:
children

In [ ]:
children.pop(3)
children

In [ ]:
children.index("Joe")

In [ ]:
print (children)
children.pop(children.index("Thomas"))
print (children)

In [ ]:
print (children)
children.remove("Thomas")
print (children)

In [ ]:
print (children)
children.pop()
print (children)

In [ ]:
print (children)
children.remove('Thomas')
print (children)

In [ ]:
#checking that input is an integer
'Frank' in children

In [ ]:
'Joe' in children

In [ ]:
'Joe'[2]

In [ ]:
'k' in children[2]

In [ ]:
'k' in '1234567890'

In [ ]:
'1'  in '1234567890'

In [ ]:
varin = input("add an integer")
print(varin in '1234567890' )

In [ ]:
varin

In [3]:
# With 3 rows and 4 columns
students = [["Joel", 85, 95, 70],
            ["Anne", 95, 100, 100],
            ["Mike", 77, 70, 80, 85]]
# With 3 rows and 3 columns
movies = [["The Holy Grail", 1975, 9.99],
          ["Life of Brian", 1979, 12.30],
          ["The Meaning of Life", 1983, 7.50]]

In [ ]:
!pip install

In [4]:
type(movies[1])

list

In [ ]:
movies[1][0]

In [ ]:
students[1][3]

In [ ]:
flick = []
flick.append('Kundun')
flick.append(1997)
flick.append(4.7)
movies.append(flick)
movies

In [ ]:
print(movies)

In [1]:
lssimple =[1,2,1,3,2,2,2,2,]

In [ ]:
lssimple.index(2)

In [ ]:
lssimple.count(2)

In [ ]:
children.reverse()

In [ ]:
children

In [ ]:
for child in children:
    child = child.upper()
children

In [ ]:
children.sort(key=str.lower)

In [ ]:
children

In [ ]:
lssimple

In [ ]:
print(min(lssimple))

In [ ]:
print(max(lssimple))

In [ ]:
#list[start_index:end_index:step]
fancy = [52,54,56,58,60,62]
print(fancy[0:2])
print(fancy[::-1])

In [ ]:
print(fancy[0:4:2])
print(fancy[:2])

In [ ]:
inv = ["staff","robe"]
chest = ["scroll","pestle"]

print(chest + inv)
print(inv + chest)

In [ ]:
inv -= chest
inv

In [ ]:
chest

In [ ]:
inv.pop()

In [ ]:
tup =('staff', 'robe', 'scroll', 'pestle')

In [ ]:
type(tup)

In [ ]:
tup =(1,"e", 2.6)

In [ ]:
a,b,c,d = tup
print("a: ",a)
print("b: ",b)
print("c: ",c)
print("d: ",d)

In [ ]:
a,b,c,d = children
print("a: ",a)
print("b: ",b)
print("c: ",c)
print("d: ",d)

In [ ]:
def dummy_gps():
    x =5
    y = 6
    z = 78
    return x,y,z

In [ ]:
gy = dummy_gps()
type(gy)

In [ ]:
a,b,c = dummy_gps()
print("a: ",a)
print("b: ",b)
print("c: ",c)

In [ ]:
gy

In [ ]:
childset = {'Andrew', 'Joe', 'Laura', 'Thomas'}

In [ ]:
type(childset)

In [ ]:
'Bob' in childset

In [ ]:
childset.insert('Wallace')

In [ ]:
child = {'Thomas','Barbara'}

In [ ]:
child & childset

In [ ]:
child | childset

In [ ]:
child = {'Thomas','Barbara','Thomas'}
child

In [ ]:
#Python comprehensions
for i in childset:
    print(i)

In [ ]:
distinct_lssimple = { i for i in lssimple }
distinct_lssimple

In [ ]:
distinctuple = ( i for i in lssimple )
list(distinctuple)[3]

In [ ]:
child_list = [g for g in childset]
child_list

In [ ]:
tf_gt2 = [ i <= 2 for i in lssimple]
tf_gt2

In [ ]:
newbundle = zip(lssimple,tf_gt2)
print(list(newbundle))

In [2]:
pc1 = [(i, i <= 2 ) for i in lssimple]
pc1

[(1, True),
 (2, True),
 (1, True),
 (3, False),
 (2, True),
 (2, True),
 (2, True),
 (2, True)]

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c': 3, 'a':4}
my_dict

In [27]:
my_dict2 = {'e': [1,3], 'b': "2", 'c': 3, 'a':[(1, True),
 (1, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (3, False)]}

In [ ]:
my_dict2.items()

In [ ]:
my_dict2.keys()

In [ ]:
my_dict2.values()

In [ ]:
my_dict2['g']

In [ ]:
def sillytry(keyname):
    #exception handling
    #try block
    try:
        value = my_dict2[keyname]
    except KeyError:
        value = 'invalid key'
    finally:
        print('end')
    return value

print(sillytry('e'))

In [ ]:
print(sillytry('x'))

In [ ]:
children[4]

In [ ]:
IndexError: list index out of range
KeyError: ''

In [ ]:
my_dict2

In [ ]:
my_dict2.pop('a')
my_dict2

In [ ]:
my_dict2.setdefault('h','newerdata')
my_dict2

In [ ]:
value = my_dict2.get('f')
print(value is None)

In [ ]:
type(my_dict2.get('f'))

In [ ]:
my_dict2.values()

In [ ]:
my_dict2.keys()

In [ ]:
my_dict2.items()

In [ ]:
my_dict2['e']

In [ ]:
for k,v in my_dict2.items():
    print('key: {} value {}'.format(k,v))

In [ ]:
print(list(my_dict2))

In [ ]:
child_d = dict(pc1)
child_d

In [ ]:
contacts = {
    "Joel":{"address": "1500 Anystreet", "city": "San Francisco",
         "state": "California", "postalCode": "94110", 
         "phone": "555-555-1111"},
    "Anne":{"address": "1000 Somestreet", "city": "Fresno",
         "state": "California", "postalCode": "93704", 
         "phone": "125-555-2222"},
    "Ben": {"address": "1400 Another Street", "city": "Fresno",
         "state": "California", "postalCode": "93704", 
         "phone": "125-555-4444"}
}

In [ ]:
print(contacts.keys())
print(contacts.items())
print(contacts.values())

In [ ]:
contacts['Ben']['address']

In [ ]:
contacts.get('Ben').get('address')

In [ ]:
contacts.get('Anne').get('email')

In [ ]:
members = ["John Cleese", "Eric Idle","Terry Jones"]
with open("members.txt", "w") as file:
    for m in members:
        file.write(m + "\n")          # adds new line

In [ ]:
!head members.txt

In [21]:
pc1

[(1, True),
 (2, True),
 (1, True),
 (3, False),
 (2, True),
 (2, True),
 (2, True),
 (2, True)]

In [ ]:
print(pc1[0][0]," ",pc1[0][1])

In [ ]:
open?

In [24]:
with open("pc1.txt", "w") as file:
    for m in pc1:
        file.write(str(m[0])+" "+str(m[1]) + "\n")          # adds new line

In [5]:
pc1

[(1, True),
 (2, True),
 (1, True),
 (3, False),
 (2, True),
 (2, True),
 (2, True),
 (2, True)]

In [6]:
import csv

with open("pc1.csv", "a", newline="") as file:
    writer = csv.writer(file,delimiter= ",",)
    writer.writerows(pc1)

In [4]:
!head pc1.csv

1~True
2~True
1~True
3~False
2~True
2~True
2~True
2~True

In [26]:
import csv

In [30]:
my_dict2

{'e': [1, 3],
 'b': '2',
 'c': 3,
 'a': [(1, True),
  (1, True),
  (2, True),
  (2, True),
  (2, True),
  (2, True),
  (2, True),
  (3, False)]}

In [32]:
with open("my_dict2_items.csv", "w",  newline="") as file:
    writer = csv.writer(file)
    for x in list(my_dict2):
        writer.writerow(str(x)+str(my_dict2[x]))

In [33]:
!head my_dict2_items.csv

e,[,1,",", ,3,]
b,2
c,3
a,[,(,1,",", ,T,r,u,e,),",", ,(,1,",", ,T,r,u,e,),",", ,(,2,",", ,T,r,u,e,),",", ,(,2,",", ,T,r,u,e,),",", ,(,2,",", ,T,r,u,e,),",", ,(,2,",", ,T,r,u,e,),",", ,(,2,",", ,T,r,u,e,),",", ,(,3,",", ,F,a,l,s,e,),]

In [34]:
my_dict2["a"]

[(1, True),
 (1, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (3, False)]

In [36]:
with open("my_dict2_items.csv", "w",  newline="") as file:
    writer = csv.writer(file)
    for x in list(my_dict2):
        writer.writerow([y for y in my_dict2[x]])

TypeError: 'int' object is not iterable

In [31]:
list(my_dict2)

['e', 'b', 'c', 'a']

In [ ]:
my_dict2['a']

In [ ]:
csv.writer?

In [ ]:
def calculate_future_value(monthly_investment, yearly_interest, 
                           years):
    # convert yearly values to monthly values
    monthly_interest_rate = yearly_interest / 12 / 100
    months = years * 12

    # calculate future value
    future_value = 0.0
    for i in range(1, months): 
        future_value += monthly_investment_amount
        monthly_interest = future_value * monthly_interest_rate
        future_value += monthly_interest

    return future_value