## Parking Lot Items
1. [slicer in reverse beside using list[::-1]](#slicer)
1. [advance MPP for python](multiproc.py)		
1. [advanced argparse](argparse_sample.py)	
1. [map example	](###-map-example)
1. [dictionary print](####-dictionary-print)
1. [Opinion on codeacademy	](#Opinion-on-codeacademy)
1. [json parsing example	](#json-parsing-example)
1. [value_counts into dataframe](####-value_counts-into-dataframe)

<a id="slicer"></a>
#### slicer in reverse beside using list[::-1]	

[Back to TOC](##-Parking-Lot-Items)

In [25]:
s = 'abcdefgh'
print (s[::-1])            # think of it as 'reverse'
print ((s[::-1])[::2])             # think of it as skipping by 2

hgfedcba
hfdb

####  map example	

[Back to TOC](##-Parking-Lot-Items)

In [22]:
import pandas as pd
sample_data = ["Primary", "Post-Graduate", "Post-Graduate", "Secondary", "Secondary", "Graduate", "Secondary", "Post-Graduate"]
map_education = {"Primary" : 1, "Secondary": 2, "Graduate": 3, "Post-Graduate": 4}
df = pd.DataFrame(data=sample_data,columns=['Education'])    
df['Education_map'] = df['Education'].map(map_education)
df

       Education  Education_map
0        Primary              1
1  Post-Graduate              4
2  Post-Graduate              4
3      Secondary              2
4      Secondary              2
5       Graduate              3
6      Secondary              2
7  Post-Graduate              4

#### dictionary print

[Back to TOC](##-Parking-Lot-Items)

In [63]:
#list sample
foo = [1,24]
print("list items: {0}- {1}".format(*foo))
#dictionary samples
sd = {'a':[1, 1, 2, 2, 2],'b':"value"}
print("keys: {0} {1}".format(*sd))
print("values: {a}, {b}".format(**sd))

1- 24
keys: a b
values: [1, 1, 2, 2, 2], value

#### Opinion on codeacademy

I like [DataCamp](http://datacamp.com) better for supplementing work, give certifications and is cheaper

[Back to TOC](##-Parking-Lot-Items)

#### json parsing example 

[Back to TOC](##-Parking-Lot-Items)

In [ ]:
%pip install json

In [ ]:
## How to download a JSON file
import json
#uncomment these four lines to pull JSON from  URL
# from urllib import request
# shots_url = 'https://www.murach.com/python_analysis/shots.json'
# request.urlretrieve(shots_url, filename='shots.json')
with open('shots.json') as json_data:
    shots = json.load(json_data)
# raw JSON view
print(shots)

In [ ]:

# In JSON, object = Python dictionary,Array = Python list
#  this pulls data from first array in ResultSets object key and then pulls rowSet's object's values
allRows = shots['resultSets'][0]['rowSet']
#prettify column names from  first array in ResultSets object key and then pulls header's object's values
columnHeaders = [x.lower() for x in shots['resultSets'][0]['headers']]
df_shots = pd.DataFrame(data=allRows, columns=columnHeaders)
df_shots.head()

#### value_counts into dataframe

[Back to TOC](##-Parking-Lot-Items)

In [5]:
import pandas as pd

def value_count_to_df(vc_scope,col_list,dropna=True):
    #standard value_counts with sort, dropna option
    value_counts = vc_scope.value_counts(dropna, sort=True)
    #Series to DataFrame
    df_val_counts = pd.DataFrame(value_counts)
    #add 0 index for rows
    df_value_counts_reset = df_val_counts.reset_index()
    #rename columns
    df_value_counts_reset.columns = col_list # change column names
    return (df_value_counts_reset)

df = pd.DataFrame({'a':[1, 1, 2, 2, 2]})
value_count_to_df(df['a'],['unique_values', 'counts'])

   unique_values  counts
0              2       3
1              1       2