## My Notebook

#### sample

In [4]:
#function basics
#function name - print - def print...
#function takes one parameter "Hello World"
Hello = "bacon"
World = "potato"
print(Hello)
print(World)
print('Hello World')
var1 = "Hello 2022_02_DSI_WD!!!"
print(var1+' '+Hello)

number = 4
print(type(number))
number = str(4)
print(type(number))

bacon
potato
Hello World
Hello 2022_02_DSI_WD!!! bacon
<class 'int'>
<class 'str'>

In [5]:
4/10

0.4

In [6]:
futureValue = 0.
type(futureValue)

float

In [7]:
#children Andrew Laura Joe 
children = "Andrew Laura Joe"

In [8]:
# 0 index based 
children[9]

'u'

In [9]:
# list example
children =["Andrew","Laura","Joe"]
type(children)

list

In [10]:
for x in children:
    for char in x:
        print(char)

A
n
d
r
e
w
L
a
u
r
a
J
o
e

In [11]:
lchar = []
for x in children:
    for char in x:
        lchar.append(char)

In [12]:
len(lchar)

14

In [13]:
schar = set(lchar)
schar

{'A', 'J', 'L', 'a', 'd', 'e', 'n', 'o', 'r', 'u', 'w'}

In [14]:
for x in children:
    print(x,len(x))

Andrew 6
Laura 5
Joe 3

In [15]:
len_list = []
# for x in children:
#     len_list.append(len(x))
for x in children: len_list.append(len(x))
len_list

[6, 5, 3]

In [16]:
[len(x) for x in children]

[6, 5, 3]

In [17]:
type(len_list)

list

In [18]:
#list comprehension
# for x in children: len_list.append(len(x))
nested_list = [[x,len(x)] for x in children]
nested_list

[['Andrew', 6], ['Laura', 5], ['Joe', 3]]

In [19]:
nested_list[0][1]

6

In [20]:
len_tuple = tuple(len_list)
len_tuple

(6, 5, 3)

In [21]:
# tuple comprehension
gen_tuple = (len(x) for x in children)
[g for g in gen_tuple]

[6, 5, 3]

In [22]:
#functions and tuples
def len_fun(list_in):
    return [(x, len(x)) for x in list_in]

In [23]:
len_fun(children)

[('Andrew', 6), ('Laura', 5), ('Joe', 3)]

In [24]:
for x in len_tuple:
    print(x)

6
5
3

In [25]:
len_tuple.append("jane")

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
children.append("jane")

In [ ]:
l3 = [t for t in  len_tuple]
l3.append(7)
nt = tuple(l3)
nt

In [ ]:
type(len_tuple)

In [26]:
listuple

NameError: name 'listuple' is not defined

In [27]:
# tuples are ready only indexed and iterable
listuple = len_fun(children)
listuple[1][1]

5

In [ ]:
Hello[1]

'a'

In [ ]:
children[1]

In [ ]:
rm = range(len(children))
type(rm)

In [ ]:
rm = range(20,100)
#fofo = []
#for f in rm:
#   fofo.append(f)
fofo = [(r, r*2) for r in rm]
fofo

[(20, 40),
 (21, 42),
 (22, 44),
 (23, 46),
 (24, 48),
 (25, 50),
 (26, 52),
 (27, 54),
 (28, 56),
 (29, 58),
 (30, 60),
 (31, 62),
 (32, 64),
 (33, 66),
 (34, 68),
 (35, 70),
 (36, 72),
 (37, 74),
 (38, 76),
 (39, 78),
 (40, 80),
 (41, 82),
 (42, 84),
 (43, 86),
 (44, 88),
 (45, 90),
 (46, 92),
 (47, 94),
 (48, 96),
 (49, 98),
 (50, 100),
 (51, 102),
 (52, 104),
 (53, 106),
 (54, 108),
 (55, 110),
 (56, 112),
 (57, 114),
 (58, 116),
 (59, 118),
 (60, 120),
 (61, 122),
 (62, 124),
 (63, 126),
 (64, 128),
 (65, 130),
 (66, 132),
 (67, 134),
 (68, 136),
 (69, 138),
 (70, 140),
 (71, 142),
 (72, 144),
 (73, 146),
 (74, 148),
 (75, 150),
 (76, 152),
 (77, 154),
 (78, 156),
 (79, 158),
 (80, 160),
 (81, 162),
 (82, 164),
 (83, 166),
 (84, 168),
 (85, 170),
 (86, 172),
 (87, 174),
 (88, 176),
 (89, 178),
 (90, 180),
 (91, 182),
 (92, 184),
 (93, 186),
 (94, 188),
 (95, 190),
 (96, 192),
 (97, 194),
 (98, 196),
 (99, 198)]

In [ ]:
for r in rm: print(r)

In [ ]:
for r in listuple: 
    print(r)

In [ ]:
months = 3 
#Python is a zero-index language
rng_mo = range(months)
for r in rng_mo: 
    print(listuple[r])

In [ ]:
mo_fun

Signature: mo_fun(molist, monum)
Docstring:
monum = number of iterations
molist = list
File:      c:\nbme\docs\day 1\<ipython-input-20-e7d337e94ffa>
Type:      function

In [ ]:
# returns a series of strings from a list of tuples
def mo_fun (molist,monum):
    '''
    monum = number of iterations
    molist = list'''
    rng_mo = range(monum)
    for r in rng_mo: 
        print(molist[r])

In [ ]:
mo_fun (monum=1, molist=listuple)

('Andrew', 6)

In [ ]:
mo_fun(nt,1)

In [ ]:
mo_fun?

In [ ]:
#input - num,list, output = int & str

In [ ]:
def most_fun (molist,monum):
    rng_mo = range(monum)
    return molist[monum][0] , molist[monum][1]

In [ ]:
def most_fun (molist,monum):
    rng_mo = range(monum)
    return \
        molist[monum][0] \
        , molist[monum][1]

In [ ]:
most_fun (monum=1, molist=listuple)

In [ ]:
 ltstr, ltint = most_fun (monum=1, molist=listuple)
 print(ltstr)
 print(ltint)

In [ ]:
bigtuple = (listuple,1)
most_fun(bigtuple)

In [ ]:
listuple

In [ ]:
set(listuple)

In [ ]:
setch = set(children)
setch

{'Andrew', 'Joe', 'Laura'}

In [ ]:
t = []
for x in children:
    for char in x:
        t.append(char)

In [ ]:
list(set(t))

In [ ]:
child = {'Joe'}
child.issubset(setch)

True

In [ ]:
listuple

[('Andrew', 6), ('Laura', 5), ('Joe', 3)]

In [ ]:
child & setch

{'Joe'}

In [40]:
first_dict = {k[0]:str(k[1]) for k in listuple}
print(type(first_dict))
print(first_dict)

<class 'dict'>
{'Andrew': '6', 'Laura': '5', 'Joe': '3'}

In [ ]:
for x in first_dict.items(): print(x)
for x in first_dict.keys(): print(x)
for x in first_dict.values(): print(x)

('Andrew', 6)
('Laura', 5)
('Joe', 3)
Andrew
Laura
Joe
6
5
3

In [43]:
first_dict

{'Andrew': '6', 'Laura': '5', 'Joe': '3'}

In [47]:
print('{Andrew} {Laura} {Joe}'.format(**first_dict))

In [37]:
geopoint = {'latitude':41.123,'longitude':71.091}
print('{latitude} {longitude}'.format(**geopoint))

41.123 71.091

In [52]:
al = 'abcdefghijklmnopqrstuvwxyz'
options = set(['de'+a+b+'t' for a in al for b in al])

In [53]:
from english_words  import english_words_lower_set
options & english_words_lower_set

{'dealt', 'debit', 'debut', 'delft', 'demit', 'depot'}

In [ ]:
for x in first_dict.items(): print(x)
for x in first_dict.keys(): print(x)
for x in first_dict.values(): print(x)

TypeError: sequence item 0: expected str instance, tuple found

In [ ]:
["~".join(list(x[0])) for x in first_dict.items()]

['A~n~d~r~e~w', 'L~a~u~r~a', 'J~o~e']

In [ ]:
children

['Andrew', 'Laura', 'Joe']

In [ ]:
first_dict

{'Andrew': 6, 'Laura': 5, 'Joe': 3}

In [ ]:
print("len {0}, why {1}").format(*first_dict)

len {0}, why {1}

AttributeError: 'NoneType' object has no attribute 'format'

In [ ]:
first_dict

NameError: name 'first_dict' is not defined

In [ ]:
first_dict.get("Joe")

In [ ]:
first_dict["Joe"] = 5

In [ ]:
first_dict["Pat"] = "d"

In [ ]:
#for i in range(3)
#iterator
for i in listuple: listuple.append(i)
listuple

In [ ]:
len(listuple)

In [ ]:
listuple.items()

In [ ]:
newset = set(listuple)
len(newset)

In [ ]:
listuple = listuple[0:4]

In [ ]:
testdict = {"monum":1, "molist":listuple}

In [ ]:
testdict

{'monum': 1, 'molist': [('Andrew', 6), ('Laura', 5), ('Joe', 3)]}

In [ ]:
def most_fun (molist,monum):
    rng_mo = range(monum)
    return molist[monum][0] , molist[monum][1]

Signature: most_fun(molist, monum)
Docstring: <no docstring>
File:      c:\nbme\docs\day 1\<ipython-input-27-8116fc1c05b6>
Type:      function

In [ ]:
listuple

[('Andrew', 6), ('Laura', 5), ('Joe', 3)]

In [ ]:
# *testdict
testdict.items()
# **testdict
    'monum'= 1
    'molist' = [('Andrew', 6), ('Laura', 5), ('Joe', 3), ('jane', 4)]

In [ ]:
most_fun(molist=listuple,monum=1)

('Laura', 5)

In [ ]:
#  most_fun (monum=1, molist=listuple)
testdict = {"monum":1, "molist":listuple[0:2]}

nam, num = most_fun(**testdict)

print(nam)
print(num)
# exec_fun(** )

Laura
5

In [ ]:
listuple[0:2]

[('Andrew', 6), ('Laura', 5)]

In [ ]:
testdict = {"monum":0, "molist":listuple[0:2]}
most_fun(**testdict)

('Andrew', 6)

In [ ]:
listuple

[('Andrew', 6), ('Laura', 5), ('Joe', 3)]

In [ ]:
funzies = most_fun(**testdict)
funzies[1]

5

In [ ]:
#function definition, name and input parameters - no data types!!!
def calculateFutureValue(monthlyInvestment, monthlyRate, months):
    '''takes numbers and gives estimates'''    
# iterator for length of calculation cycle
    futureValue = 0.0
    for i in range(months):
#business logic
        futureValue = (
                futureValue
                + monthlyInvestment
            ) \
            * \
            ( \
                1 
                + monthlyRate
            )
#output of function
    return round(futureValue,2)

# monthlyInvestment = input("Configure Monthly Investment:\t")
# monthlyRate = input("Configure Monthly Rate:\t")
# months = input("Configure Months of investment:\t")

In [ ]:
calculateFutureValue?

In [ ]:
calculateFutureValue(5000,.07,3)

In [ ]:
type(Hello)

In [ ]:
!python --version

In [ ]:
folder = "c:\\"
!dir $folder

In [ ]:
print("test")
print("t\ne\n\tst\'\"")

In [ ]:
print "Hello World"

In [ ]:
SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Hello World")?
TypeError: unsupported operand type(s) for +: 'float' and 'str'
ModuleNotFoundError: No module named 'tensorflow'
NameError: name 'Hello' is not defined
AttributeError: 'list' object has no attribute 'upper'

In [ ]:
print("Hello World")

In [ ]:
#EOL = End of Line

In [ ]:
counter = 0
score_total = 0
test_score = 0
# != is "Not Equal To"
#while nobody enters 999(quit msg)
while test_score != 999:
#convert text input to integer
    test_score = int(input("Enter test score: "))
#check for valid range 
    if test_score >= 0 and test_score <= 100:
#       score_total = score_total + test_score
        score_total += test_score # add new score to sum of old scores
        counter += 1 # add another counter increment
#give graceful warning
    else:
        print("use numbers between 0 and 100")
#calculate average
average_score = round(score_total / counter)
#give feedback                
print("Total Score: " + str(score_total))
print("Average Score: " + str(average_score))
print("Number of Scores: " + str(counter))

In [ ]:
calculateFutureValue?

In [ ]:
children

In [ ]:
print(children)

In [ ]:
junk = [ 4, "boing", 3.6]

In [ ]:
foo = {6:[4,4]}

In [ ]:
print(junk)

In [ ]:
a = str()
for i in junk:
    a+=str(i)+" "
print(a)

In [ ]:
print(children[0],children[1],children[2])

In [ ]:
a = str()
for i in children:
    a+=str(i)+" "
print(a)

In [ ]:
print(children[0],children[1],children[2],sep="\n",end="!!!",)

In [ ]:
print(children[0],children[1],children[2],sep=str(junk),end="!!!")

In [ ]:
newlist = [1,2,3,4]

In [ ]:
print(newlist)

In [ ]:
print("What is your first name?")
first_name = input()

In [ ]:
print("Hello, " + first_name + "!")

In [ ]:
 len(len_list)

In [ ]:
len(listuple)

In [ ]:
len(listuple) & len(len_list)
# 0b100 0b011

In [ ]:
val = 0x01A
# 16 * 1 + (1 * 10)
#16 bit number
val

In [ ]:
print(0o01000)
# 4 bits are a byte

In [ ]:
num = 0b011
num

In [ ]:
>>> (min_age == 47)
True
>>> (min_age == 47) and (age == 40)
True
>>> not(active)
True
>>> (min_age == 47) and not(age == 40)
False
>>> (min_age == 47) and not(age == 47)
True
>>> (min_age == 47) and not(age == 47) or (age != min_age)
True
>>> ((min_age == 47) and not(age == 47)) or (age != min_age)
True
>>>

In [ ]:
print(children)

In [ ]:
child2 = str(children)
print(child2)
print(child2.lower())
print(child2.upper())

In [ ]:
type(child2)

In [ ]:
children.upper()

In [ ]:
#!/usr/bin/env python3

#function defintion and input parameters
def calculateFutureValue(monthlyInvestment, monthlyRate, months):
# iterator for length of calculation cycle
    futureValue = 0.0
    for i in range(months):
#business logic
        futureValue = (
                futureValue
                + monthlyInvestment
            ) \
            * \
            ( \
                1 
                + monthlyRate/100
            )
#output of function
    return str(round(futureValue,2))

# display a welcome message
print("Welcome to the Future Value Calculator")
print()

# get input from the user
monthlyInvestment = float(input("Configure Monthly Investment:\t"))
monthlyRate = float(input("Configure Monthly Rate:\t"))
ham = float(input("Configure Years of investment:\t"))

def ytm(years):
    return int(round(years*12,0))

#calculate final value
final_value = str(calculateFutureValue(monthlyInvestment, monthlyRate, ytm(ham)))

# display the results
print("final value: $"+final_value)

In [ ]:
vart = range(0,100)
for i in vart: 
    print (i)

In [ ]:
children[0:4:1]